# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sdf
*.sln
*.suo
StereoCamera2/Debug/
StereoCamera2/StereoCamera2/Debug/
StereoCamera2/StereoCamera2/calib_pic/
*.vcxproj
*.filters
StereoCamera2/StereoCamera2/test_pic/
*.jpg
